presentation/_minted-science_po/
presentation/images/test.tex
presentation/images/test.txt
presentation/science_po.aux
presentation/science_po.dvi
presentation/science_po.log
presentation/science_po.nav
presentation/science_po.out
presentation/science_po.snm
presentation/science_po.synctex.gz
presentation/science_po.toc
presentation/science_po.vrb
